/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Lato", sans-serif;
}

body {
    background-color: black;
    width: 100%;
}

/* Styles for the first block */
.firstblock {
    background-color:  #F6F8FA;
    width: 60%;
    height: fit-content;
    margin: auto;
    overflow: hidden;
}

.logo {
    background-color: royalblue;
    height: 30px;
    width: 100%;
    margin: auto;
}

/* Styles for the second block */
.secondblock {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./image/pexels-pixabay-357573C.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.heading h1 {
    text-align: center;  
    color: white;
    margin-top: 80px;  
    text-transform: uppercase;
}

/* Styles for the search bar */
.search_bar {
    position: relative;
    width: 100%;
    max-width: 400px; /* Limiting width for smaller screens */
    margin: auto;
}

.search_bar .src_bar {
    width: 100%;
    height: 50px;
    background-color: royalblue;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.search_bar .src_bar::placeholder {
    color: white;
}

.search_bar .src_bar:focus {
    outline: none;
    border: none;
    padding: 10px;
}

.search_bar button {
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 200;
}

.search_bar .fa-magnifying-glass {
    color: white;
}

/* Styles for the details area */
.details-area {
    position: relative;
    width: 100%;
}

/* Styles for the food items */
.logo2 {
    margin-top: 20px;
    text-align: center;
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    padding: 10px 20px;
}

.food-items .item {
    width: 100%; /* Full width on smaller screens */
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.food-items .item .img-box {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.food-items .item img {
    width: 100%;
}

.food-items .item h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
}

.food-items .item button {
    width: 50%;
    height: 20px;
    background-color: royalblue;
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin: 0 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Styles for the footer */
.foot {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-color: royalblue;
    padding: 20px 20px;
    width: 90%;
    margin: auto;
    margin-top: 50px; 
    border-radius: 20px;
} 

.foot .foot_img1 {
    overflow: hidden;
    height: 150px;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_img1 img {
    height: 100%;
}

/* Styles for the footer section */
.footer {
    background-color: black;
    width: 100%;
    margin-top: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 50px;    
}

.footer .btn_img {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer .btn_img a {
    color: white;
    text-decoration: none;
}

.footer .btn_img a .fa-brands {
    height: 10px;
    width: 10px;
}

.footer h6 {
    color: rgb(238, 238, 238);
    text-align: center;
    padding-bottom: 10px;
}

/* Styles for the result div */
.result-div {
    position: absolute; 
    display: none; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
}

.open-result {
    display: block;
}

.result {
    background-color: #fefefe;
    margin: 5% auto;   
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-height: 80%; 
    overflow-y: auto;
    position: relative;
    border-radius: 16px;
}

.result button {
    position: absolute;
    top: 30px;
    right: -10px;
    border: none;
    background: none;
}

.result button i {
    color: rgb(182, 25, 25);
    height: 100px;
    width: 100px;
    font-size: 30px;
}

.result button i:hover {
    opacity: .7;
}

.result h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px
}

.result ul {
    margin-left: 20px;
    margin-top: 10px;
}

.result .ingredient, .result .instruction {
    margin: 20px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .firstblock {
        width: 80%;
    }

    .secondblock {
        height: 300px;
    }

    .search_bar {
        width: 90%;
        max-width: 300px;
    }

    .food-items .item {
        width: 100%;
    }

    .foot .foot_img1 {
        width: 100%;
    }
}